@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  @apply flex items-center text-sm font-medium text-gray-500 hover:text-gray-900;
}
.drop-down-item {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100;
}
.nav-mobile-item {
  @apply block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900;
}
.input-field {
  @apply border border-gray-300 rounded-md focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:outline-none hover:border-blue-500;
}
.common-button {
  @apply flex justify-center items-center mt-2 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
}
.common-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}
.cancel-button {
  @apply flex justify-center items-center mt-2 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
}
.mailer-link {
  @apply inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:ring;
}
.pending {
  @apply bg-blue-100 text-blue-800;
}
.confirmed{
  @apply bg-green-100 text-green-800;
}
.delivered{
  @apply bg-yellow-100 text-yellow-800;
}
.canceled{
  @apply bg-red-100 text-red-800;
}
.th-column {
  @apply text-xs font-medium text-gray-500 uppercase tracking-wider;
}
.pagy {
  @apply flex space-x-1 font-semibold text-sm text-gray-500;
  a:not(.gap) {
    @apply block rounded-lg px-3 py-1 bg-gray-200;
    &:hover {
      @apply bg-gray-300;
    }
    &:not([href]) {
      @apply text-gray-300 bg-gray-100 cursor-default;
    }
    &.current {
      @apply text-white bg-gray-400;
    }
  }
  label {
    @apply inline-block whitespace-nowrap bg-gray-200 rounded-lg px-3 py-0.5;
    input {
      @apply bg-gray-100 border-none rounded-md;
    }
  }
}

.rating-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating-input {
  display: none;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star {
  color: #FFD700 !important;
}

.rating-input:checked ~ .rating-star {
  color: #FFD700 !important;
}

.rating-star {
  color: #cccccc;
  cursor: pointer;
  transition: color 0.2s;
  font-size: 1.5rem;
  padding: 0 0.125rem;
}
